<%- include ('../partials/header') %>
<%- include ('../partials/message') %>

<main>
    <div class="row h-100">
        <div class="col my-auto">
            <div class="card" style="margin: auto; padding: 10px; width: 36rem;">
                <div class="nes-container with-title">
                    <h3 class="title">CONFIRM WAGER</h3>
                    <form action="/confirmPlaceBet" method="POST">
                        <div style="background-color:#212529; padding: 1rem;" class="nes-field is-dark">
                            <div style="background-color:#212529; padding: 1rem;" class="nes-field">
                                <label for="dark_field" style="color:#ffffff;">Total Bet:</label>
                                <input disabled type="text" style="color: #eae554;" id="dark_field" name = "totalWager" class="nes-input is-dark" value = <%= Number(wager) *2 %>>
                            </div>
                            <div style="background-color:#212529; padding: 1rem;" class="nes-field">
                                <label for="dark_field" style="color:#ffffff;">Match Caption: </label>
                                <textarea class="nes-textarea is-dark" style="color:#eae554;" name="matchCaption"></textarea>
                            </div>
                        </div>
                        <button type="submit" style="float: right; margin-top: 25px; margin-left: 10px; margin-right: 10px;" class="nes-btn is-success">CONFIRM</button>
                        <a href="/placeBet">
                            <button type="button" style="float: right; margin-top: 25px; margin-left: 10px; margin-right: 10px;" class="nes-btn is-error">cancel</button>
                        </a>
                        <i class="nes-icon trophy is-large" style="margin-top: 15px;"></i>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>