<%- include ('../partials/header') %>
<%- include ('../partials/message') %>

<main>
    <!-- Profile -->
    <div class="container" style="padding-top: 60px;">
        <div class="nes-container is-dark with-title" style="max-width: 960px; margin:auto;">
            <h3 class="title">EDIT PROFILE IMAGE</h3>
            <div class="nes-container is-dark" style="margin-top: 30px; margin-bottom: 30px;">
                <span class="nes-text is-primary">Please Type In an Image URL You Wish To Set Your Profile Too:</span>
                <h4>&nbsp;</h4>
                <input type="text" id="dark_field" placeholder = "Place URL..."class="nes-input is-dark" id="username" name="username" required>
                <h4>&nbsp;</h4>
            </div>
            <!-- [Back]Button to main -->
            <div class="row">
                <a href="/profile">
                    <button type="button" style="float:left;" class="nes-btn is-error">BACK</button>
                </a>
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>