<%- include ('../partials/header') %>
<%- include ('../partials/message') %>
<!-- <%- include ('../../resources/css/style') %> -->

<main>


   <div class="container" style="background-image: url(../../resources/img/backgroundImg.png)"></div>
   

</main>



<%- include ('../partials/footer') %>