<%- include ('../partials/header') %>
<%- include ('../partials/message') %>

<main class = "homeBack" id = "homeback">
    
    <div class="controller">
            <p>    &nbsp       </p>
            
            <form action="/login" method = "GET">
                <button type="submit" class="nes-btn is-error" id = "loginButton">Login</button>
               </form>
             <br>
             

             <form action="/register" method = "GET">
             <button type="submit" class="nes-btn is-primary">Register</button>
            </form>
             
    </div>
  
 </main>


<%- include ('../partials/footer') %>