<%- include ('../partials/header') %>
<%- include ('../partials/message') %>


<main>
    
    
    <div class="container" style="background-image: url(../../resources/public/img/home.jpeg)"></div>

        
    
    
    

</main>


<%- include ('../partials/footer') %>