<%- include ('../partials/header') %>
<%- include ('../partials/message') %>


<main class = "homeBack">
    <div class="controller">
        
            
             <button type="button" class="nes-btn is-error">Login</button>
             <button type="button" class="nes-btn is-primary">Register</button>
       
    </div>
  
 </main>


<%- include ('../partials/footer') %>