<%- include ('../partials/header') %>
<%- include ('../partials/message') %>

<main>
    <div class="loginContainer">
        
        <div class="card border-0 mx-auto" style="width: 36rem; margin-top: 30px;">
            
            <div class="card-body">
                <form action="/home" method="GET">
                    <button type="submit" style="float: right;" class="nes-btn is-primary">X</button>
                    </form>
                <h2 style="margin-bottom: 30px;">Login</h2>
                <form action="/login" method="POST">
                    <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline">
                        <label for="dark_field" style="color:#fff;">Username:</label>
                        <input type="text" id="dark_field" class="nes-input is-dark" id="username" name="username">
                      </div>

                      <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline">
                        <label for="dark_field" style="color:#fff;">Password:</label>
                        <input type="password" id="dark_field" class="nes-input is-dark"  id = "password" name="password">
                      </div>


                    <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline">
                        <span for="dark_field" style="color:#fff;">Don't Have an Account? <a href="/Register">Register</a></span>
                      </div>
                    <p>    &nbsp       </p>
                    <button type="submit" style="float: right;" class="nes-btn is-error">login</button>
                </form>
            </div>
        </div>
    </div>
</main>