<%- include ('../partials/header') %>
<%- include ('../partials/message') %>

<main>
    <div class="loginContainer">
        <div class="card border-0 mx-auto" style="width: 30rem; margin-top: 30px;">
            <div class="card-body">
                <h2 style="margin-bottom: 30px;">Login</h2>
                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label for="input_username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="input_password" class="form-label">Create Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <span>Don't Have An Account? <a href="/register">Register Here</a></span>
                    <button type="submit" style="float: right;" class="nes-btn is-error">login</button>
                </form>
            </div>
        </div>
    </div>
</main>