<%- include ('../partials/header') %>
<%- include ('../partials/message') %>

<main>
    <div class="regContainer">
        <div class="card border-0 mx-auto" style="width: 30rem; margin-top: 30px;">
            <div class="card-body">
                <form action="/home" method="GET">
                <button type="submit" style="float: right;" class="nes-btn is-error">X</button>
                </form>
                <h2 style="margin-bottom: 30px;">Register</h2>
            
                <form action="/register" method="POST">
                    
                    <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline">
                        <label for="dark_field" style="color:#fff;">Email:</label>
                        <input type="email" id="dark_field" class="nes-input is-dark"  id="email" name="email">
                      </div>

                      <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline">
                        <label for="dark_field" style="color:#fff;">Username:</label>
                        <input type="text" id="dark_field" class="nes-input is-dark" id="username" name="username">
                      </div>

                      <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline">
                        <label for="dark_field" style="color:#fff;">Country:</label>
                        <input type="text" id="dark_field" class="nes-input is-dark"  id = "country" name="country">
                      </div>

                      <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline">
                        <label for="dark_field" style="color:#fff;">Password:</label>
                        <input type="password" id="dark_field" class="nes-input is-dark"  id = "password" name="password">
                      </div>
                      <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline">
                        <label for="dark_field" style="color:#fff;">Already Have an Account?<a href="/login">Login</a></label>
                      </div>

                    <p>    &nbsp       </p>
                    <button type="submit" style="float: right;" class="nes-btn is-primary">Register</button>

                   
                    
                </form>
            </div>
        </div>
    </div>
</main>