<%- include ('../partials/header') %>
<%- include ('../partials/message') %>

<main>
    <script type="text/javascript" src="pong.js"></script>
     <h1><%= playerNo%> </h1>
</main>

<%- include ('../partials/footer') %>