html{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background: transparent;
    
}

main {
    
    width: 100%;
    height: 100%;
    background: url(/img/LandingPageWithText.png);
    background-position: 50% 90%;
    background-size: cover;
    
}


.scrollable {
    overflow: auto;
}

